@model Studio_Sintonia.Models.Usuario
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-container">
    <h2 style="text-align: center;">Studio Sintonia</h2>

    <form asp-action="Login" method="post">
        <div class="form-group">
            <label for="NomeUsuario">Nome de Usuário</label>
            <input asp-for="NomeUsuario" />
        </div>

        <div class="form-group">
            <label for="Senha">Senha</label>
            <input asp-for="Senha" type="password" />
        </div>

        <button type="submit" class="login-button">Entrar</button>

        <div class="forgot-password">
            <a href="#">Esqueceu a senha?</a>
        </div>
    </form>
</div>
